body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10%;
}

.quote-box {
  text-align: center;
  border: 1px solid grey;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  border-radius: 15px;
}
