.app-container {
  margin: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/hugues-de-buyer-mimeure-lQPEChtLjUo-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}
