.app-container {
  margin: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*  background-image: url("./images/art-background-blue-370799.jpg"); */
  background-color: black;
  /* display: flex;
  justify-content: center;
  align-content: center; */

  transition: background-image 500ms linear;
}
